<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoinMarketCap.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CoinMarketCap.Tests.Properties.Settings>
            <setting name="cmc_api_key" serializeAs="String">
                <value>3315f01c-0150-4d1e-896e-b9d7f506e1d1</value>
            </setting>
        </CoinMarketCap.Tests.Properties.Settings>
    </userSettings>
</configuration>